  <!-- Share With -->
  <div class="row">
    <h3 class="col-sm-12">Share With <small>(optional)</small>
      <span id="share_with_tooltip" class="h5"><%= "share_with_help" %></span>
    </h3>
  </div>

  <div class="form-group row">
    <div id="new-user">
      <p class="col-sm-12">Enter <%=t('sufia.account_label') %> (one at a time)</p>
      <p class="sr-only">Use the add button to give access to one <%=t('sufia.account_label') %> at a time (it will be added to the list below).  Select the user, by name or <%=t('sufia.account_label') %>. Then select the access level you wish to grant and click on Add this <%= t('sufia.account_label') %> to complete adding the permission.</p>
      <div class="col-sm-5">
        <label for="new_user_name_skel" class="sr-only"><%= t('sufia.account_label') %> (without the <%= t('sufia.directory.suffix') %> part)</label>
        <%= text_field_tag 'new_user_name_skel', nil %>
      </div>
      <div class="col-sm-4">
        <label for="new_user_permission_skel" class="sr-only">Access type to grant</label>
        <%= select_tag 'new_user_permission_skel', options_for_select(Sufia.config.permission_levels), class: 'form-control' %>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-mini btn-inverse" id="add_new_user_skel">
          <span class="sr-only">Add this <%= t('sufia.account_label') %></span>
          <span aria-hidden="true"><i class="glyphicon glyphicon-plus"></i></span>
        </button>
        <br /> <span id="directory_user_result"></span>
      </div>
    </div>
  </div>